.admin-tabs,
.classifieds-tabs {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;

  button.active {
    text-decoration: underline;
  }
}

.admin-section {
  margin-top: 1rem;
}

.admin-card,
.classified {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.classified {
  text-decoration: none;
}
